
body {
  background-color: #0057b7;
  color: rgb(235, 224, 204);
}

.nav-wrapper {
  background-color: #ffd700;
}

.nav-wrapper a{
  color: #231955;
  font-weight: bold;
}



.hide-on-med-and-down li a{
  font-weight: normal;
}